*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(255, 255, 255);
}
.header {
    padding-top: 70px;
    padding-bottom: 20px;
    /* background-color: rgb(119, 203, 175);    */
    background-color: rgb(255, 174, 52);
}

.header h1{
    color: rgb(15, 12, 12);
    padding: 20px 30px;
    text-align: center;
}

.student-info{
    margin-top: 0.5cm;
    padding: 20px;
    font-size: 22px;
    justify-content: center;
    text-align: center;
    line-height: 35px;
    border-top: 1px solid #0f0d0d;
    border-bottom: 1px solid #0f0d0d;
}

.row{
    line-height: 30px;
    margin-top: 0.5cm;
    text-align: center;
    background-color: rgb(255, 160, 52);
    /* background-color: rgb(119, 203, 175); */
    padding: 20px;
}

#btn{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 1px solid #340000;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 300;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
}

#btn:hover{
    background-color: #ff2727;
    border: 1px solid #340000;
    color: #f3f3f3;
    transform: scale(1.1);
}

.row .col{
    padding: 20px;
}

.col h3{
    font-size: 22px;
    padding-bottom: 10px;
}

.col p{
    font-size: 19px;
    padding: 12px;
}

.col a{
    font-size: 19px;
    text-decoration: none;
    color: #000000;
}
.col a:hover{
    color: #c23d00;
    transition: .3s;
}

.editor{
    position: absolute;
    font-size: 20px;
    color: #ffffff;
    margin-left: 10px;
    top: 1400px;
    left: 600px;
}
.editor>a{
    text-decoration: none;
    color: #ff4d00;

}
