*{
    font-family: sans-serif;
}

body {
    max-width: 1440px;
    background-image: url(images/sitemap_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 3rem;
    margin-top: 100px;
    text-align: center;
    background-image: linear-gradient(to right,#d4df09, #ffc95e,  #e2f347);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}

svg>circle {
    background-color: transparent;
    fill: rgba(177, 122, 39, 0.368);
    stroke: #df7409;
}

line {
    stroke: #410000;
    stroke-width: 2px;
}

.map-links {
    width: 100px;
    height: 150px;
    background-color: transparent;
}

.home-link {
    width: 100%;
    height: 112px;
}

.vertical-line {
    transform: rotate(90deg);
    margin-left: 630px;
    margin-top: 7px;
}

.vertical-lines {
    transform: rotate(90deg);
    margin-left: 140px;
}

#shop {
    margin-left: 185px;
}

#query {
    margin-left: 137px;
}

#quiz {
    margin-left: 137px;
}

#student-details {
    margin-left: 144px;
}

#sitemap {
    margin-left: 143px;
}

.home-link:hover {
    transition: .7s;
}

text{
    fill: #000000;
    font-weight: bold;
}
text:hover {
    fill: #580000;
    transition: .4s;
}
svg>circle:hover {
    fill: #ff6f00;
    transition: .4s;
    stroke: #580000;
}

text>tspan:hover {
    fill: #580000;
    transition: .4s;
}

.page-editor {
    position: absolute;
    margin-top: 10px;
    margin-left: 620px;
    padding-bottom: 20px;
}

.page-editor a{
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.page-editor a:visited {
    color: white;
}